<h2>CSW</h2>

<p>Bem vindo <%= @email %>!</p>

<p>Você pode confirmar sua conta clicando no link abaixo:</p>

<!-- <p><%#= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p> -->

<a href="https://csw-front.herokuapp.com">Confirmar Conta e ir para tela de login.</a>
